extends layout

block content
  .heading
    h1= title
    a(id="makepost",href="/new")  Make a post
  p Welcome to the thunderdome  

  ul 
    each message in messages
      h2=message.text 
      p=message.user
      p=message.added
